/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-main, Arial, Helvetica, sans-serif);
  }
}

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    max-inline-size: 700px;
    font-family: var(--font-main);
    background-image: var(--img-bg);
    background-attachment: fixed;
    margin: auto;
    padding-top: 100px;
    font-variation-settings: 'wght' 400;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-accent, Courier);
    border: 2px solid rgba(0, 0, 0, 1);
    margin-block-end: 100px;
    background-color: white;
    padding-block-end: 125px;

}

.header__logo {
    padding-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
    font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
    line-height: 1;
    text-transform: uppercase;
    margin-block-end: 20px;
    font-weight: 400;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-block-start: 20px;
  margin-block-end: 25px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style-type: none;
}


.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
}
.card__title {
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght"  700;
  padding: 4px 24px 4px 10px;
}
.card__text {
  padding: 23px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  font-variation-settings: "wdth" var(--font-weight-main);
  font-size: 18px;
  line-height: 1.16;
  border-block-start: 2px solid var(--color-main, rgba(0, 0, 0, 1));
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 3px;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}

.button__text {
  font-family: var(--font-accent, Courier, monospace);
  font-size: 14px;
  line-height: 1.11;
  color: white;
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
}

.grayscale {
  filter: grayscale(0.7);
}

.saturate {
  filter: saturate(5);
}

.hue {
  filter: hue-rotate(26deg);
}

.invert {
  filter: invert(0.8);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(8px);
}

.mult {
  filter: hue-rotate(60deg) contrast(0.5) brightness(1.4);
}

.contrast {
  filter: contrast(1.5);
}

.watermark {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5475rem + 1.1278vw, 1.5625rem);
  font-family: var(--font-accent);
  font-size: 14px;
  opacity: 0.5;
  text-shadow: -1 0 var(--color-bg, rgba(255, 255, 255, 1));
}

@supports (
  (text-stroke: 1px var(--color-bg, rgba(255, 255, 255, 1))) or
    (-webkit-text-stroke: 1px var(--color-bg, rgba(255, 255, 255, 1)))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--color-bg, rgba(255, 255, 255, 1));
    text-stroke: 1px var(--color-bg, rgba(255, 255, 255, 1));
    text-shadow: none;
  }
}