@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--font-main, Arial, Helvetica, sans-serif);
  }
}

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    max-inline-size: 700px;
    font-family: var(--font-main);
    background-image: var(--img-bg);
    background-attachment: fixed;
    margin: auto;
    padding-top: 100px;
    font-variation-settings: 'wght' 400;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-accent, Courier);
    border: 2px solid black;
    margin-block-end: 100px;
    background-color: white;
    padding-block-end: 125px;

}

.header__logo {
    padding-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
    font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
    line-height: 1;
    text-transform: uppercase;
    margin-block-end: 20px;
    font-weight: 400;
}

.header__title {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-block-start: 20px;
  margin-block-end: 25px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style-type: none;
}


.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght"  700;
  padding: 4px 24px 4px 10px;
}

.card__text {
  padding: 23px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  font-variation-settings: "wdth" 400;
  font-size: 18px;
  line-height: 1.16;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 3px;
  padding: 0 25px 25px;
}

.button {
  position: relative;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}

.button__text {
  font-family: var(--font-accent, Courier, monospace);
  font-size: 14px;
  line-height: 1.11;
  color: white;
  mix-blend-mode: difference;
}

.card__like-button {
  min-inline-size: 130px;
}

.grayscale {
  filter: grayscale(0.7);
}

.saturate {
  filter: saturate(5);
}

.hue-rotate {
  filter: hue-rotate(26deg);
}

.invert {
  filter: invert(0.8);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(8px);
}

.mult {
  filter: hue-rotate(60deg) contrast(0.5) brightness(1.4);
}



.watermark {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: clamp(0.8125rem, 0.5475rem + 1.1278vw, 1.5625rem);
  font-family: var(--font-accent);
  font-size: 14px;
  opacity: 0.5;
  text-shadow: -1 0 white;
}

@supports (
  (text-stroke: 1px white) or
    (-webkit-text-stroke: 1px white)
) {
  .watermark {
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
  }
}

.save {
  padding: 52px 0 103px;
  display: flex;
  justify-content: center;
}

.save__button {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: white;
  padding: 18px 20px;
}

.popup__text {
  font-size: 14px;
  line-height: 1.5;
  flex: 1;
}

@media (width <=375px) {
  .watermark {
    inset-inline-end: 13px;
  }

  .popup {
    padding: clamp(1.875rem, -2.4886rem + 21.8182vw, 2.625rem);
  }

}